/* regole query */

@media screen and (max-width: 430px) {


  #lezioni .row>.left {
    width: 100%;
    float: none;
    /* debug */
    background-color: green;
  }
  #lezioni .row>.right {
    width: 100%;
    float: none;
    /* debug */
    background-color: red;
  }


}
