/* regole query per 420px */

@media screen and (max-width: 420px) {
  /* COMMON */
  body{
    background-image: linear-gradient(45deg,#00a4bd,#00bd80);
  }
  .row{
    width: 100%;
  }

  img{
    height: 100px;
  }

  h1{
    font-size: 41px;
  }

  /* blocco lezioni */

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }


  /* blocco steps */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }

  /* blocco why */

  #why .row img {
    background-color: #9E8076;
    border-radius: 5%;
    padding: 5px
  }
}

/* regole query per ipad 768px */

@media screen and (max-width: 768px) {
  /* COMMON */
  body{
    background-image: url(../img/arco.jpg);
    background-size: cover;
    background-position-x: center;

  }

  .row{
    width: 100%;
  }

  img{
    height: 100px;
  }

  /* blocco lezioni */

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 44%;
    margin: 0 3%;
    float: left;
  }

  /* blocco steps */

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 25%;
    margin: 4%;
  }
}
